.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 40px;
  margin: 0.85em;
  border-radius: 1em;
  border: none;
  background-color: #cfd0d0;
  text-align: center;
  font-size: 1em;
  color: black;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(200, 140, 240);
}

.btn:active {
  background-color: rgb(140, 150, 240);
}

.translate {
  margin: 1em;

  color: black;
  font-size: 1.3em;
}
